body {
	background-image: url("WEB-ICON-Calendar.jpeg");
	background-repeat:no-repeat;
	background-size: cover;
	font-family: Trebuchet MS;
	font-size: 16px;
	color:black;
	margin: 0px;
	padding: 0px;
}

#bokningsWrapper {
	width: 20%;
	margin-left:20%;
}

#bokningsWrapper > img {
	width: 700px;
	height: 700px;;
	margin:0px;

}

header {
	height: 80px;
	padding: 2%;
	
}

footer {
	width:200%;
	max-width:2000px;
	margin: 0 auto;
	overflow: auto;
	
}
#Tack{
font-size: 30px;
margin: 0px;	
}
footer{
position: fixed;	
bottom:0;
width: 100px;
}
div {
	width:30%;	
	margin:0 auto;
	text-align: center;
	}
	table {
		table-layout:inherit;
		width:150%;
		background-color:rgb(253, 162, 162);	
	  }
	  table, td, th{
	border: solid 1px black;
	  }
