h1{
    color: blue
    
}
h1{
line-height: 50px;
}
h1{
left: 50px;    
}
h1
{
color: orange;
margin: 50px; 
border-right: 50px;  
text-decoration-line: underline;
nav-right: current;
border-radius: 50px;
box-shadow:#ffdead;
text-overflow: ellipsis;
direction:ltr;
overflow-y: scroll;
outline-offset: 50px;
animation-iteration-count: inherit;
unicode-range: U+1800–18AF;
}